.searchBar {
  display: inline-block;
  position: relative;
  width: 100%;
}

.searchBar__input {
  height: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px 36px;
  width: 93%;
}

.emptySearchWarning {
  position: absolute;
  width: 300px;
  left: 5%;
  top: 85%;
}
